
body {
    background-color: darkgrey;
    height: 100vh;
}

main {
    height: 100vh;
}

#card-result {
    height: 100%;
}

.col-auto {
    margin-top: 1.25rem;
}

button {
    width: 100%;
}

p {
    margin: 0;
}

@media screen and (max-width: 320px) {
    
    #container, .card {
        margin: 0 1rem;
    }

}