
body {
    background-color: darkgrey;
    height: 100vh;
}

main {
    height: 100vh;
}

#card-result {
    height: 100%;
}

.col-auto {
    margin-top: 1.25rem;
}

button {
    width: 100%;
}

p {
    margin: 0;
}

@media screen and (max-width: 320px) {
    
    #container, .card {
        margin: 0 1rem;
    }

}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 80, 80);
    height: 100vh;
}

.container {
    background-color: rgb(24, 160, 160);
    width: 25rem;
    height: 30rem;
    border-radius: 1.5rem;
    padding: 1rem 0rem;
}

.logo {
    display: flex;
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
}

h1 {
    font-family: monospace;
    font-size: 1.7rem;
    text-align: center;
    color: bisque;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(229, 230, 227);
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.troca {
    padding-top: 1rem;
    cursor: pointer;
}

#valor {
    width: 8.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 1.5rem;
    margin-top: 0.7rem;
    outline: none;

}

#valor::placeholder {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(73, 75, 95);
    text-align: center;
}

.coins {
    width: 8rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 1.5rem;
    outline: none;
    background-color: rgb(255, 255, 255);
    background-image: url(../../assets/img/003-euro.png);
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position: 1rem;
}

.currency {
    background-color: rgb(4, 71, 60);
    color: whitesmoke;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 2rem;
    background-color: rgb(243, 4, 4);
    color: whitesmoke;
    border: none;
    border-radius: 3rem;
    box-shadow: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 1rem;
}

.converter {
    width: 1rem;
    margin-right: 0.5rem;
}

.message p {
    margin-top: 1.5rem;
} */
